.profile-card{
    display:flex;
    flex-direction:column;
    background-color:#29388E;
    width:100%;
    height:50%;
    align-items:center;
}
.profile-card__image{
    width:12rem;
    height:12rem;
    border-radius:16rem;
    margin-top:2rem;
    background-color:white;
    border:3px solid gray;
}

.profile-card__username{
    margin-top:1.5rem;
    font-size:2rem;
}

